# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.production

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase
supabase/.temp

.vercel
.env*
 
# ????? ??? ????? 
identity_extract/ 
scripts/.admin_token 
portablegit* 
scripts/.vercel_token 
scripts/.supabase_token 
__pycache__/ 
__pycache__/ 
